<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tong.qqsafe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Welcome" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LeftNav.FlashPsw" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.TouchPswWelcome" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.TimeCorrect" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.About" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.AboutXulie" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.Recommend" android:screenOrientation="portrait"/>
        <activity android:name=".LeftNav.Feedback" android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Help" android:screenOrientation="portrait"/>

        <activity android:name=".FragmentIndexPackage.IndexMyFoot" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentIndexPackage.IndexMyMibao" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentIndexPackage.IndexMyPswd" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentIndexPackage.IndexMySafe" android:screenOrientation="portrait"/>

        <activity android:name=".FragmentUtilPackage.UtilQqProtect" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilGameProtect" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilEmileProtect" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilQbProtect" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilQqLock" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilGameLock" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilModifyPwd" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentUtilPackage.UtilRecoverFriends" android:screenOrientation="portrait"/>

        <activity android:name=".FragmentMorePackage.MoreSaoma" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentMorePackage.MoreQqSelect" android:screenOrientation="portrait"/>
        <activity android:name=".FragmentMorePackage.MoreWifi" android:screenOrientation="portrait"/>

    </application>

</manifest>